*{
    
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.navheader{
    width: 100vw;
    height: 100vh;
    background-color: cadetblue;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    
}
nav ul li{
    display: inline-block;
    
    
    
}
a{
    text-decoration: none;
}
nav ul li a{
    font-weight: bold;
    color: white;
    padding-right: 20px;

}
.logo{
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.navbtn{
    background-color: brown;
    padding: 10px 20px;
    border-radius: 15px;
    color: white;
    font-weight: 700;
    text-transform: uppercase;

}
.navbtn:hover{
    background-color: blueviolet;
    color: brown;
}
.aboutme{
    position: absolute;
    top: 40%;
    left: 12%;
}
.aboutme h1{
    font-size: 60px;
    font-weight: 800;
    line-height: 100px;
}
.aboutme h1 span{
    color: brown;
    font-size: 90px;
}
.aboutme p{
    font-size: 22px;
    width: 70%;
}
.image{
    position: absolute;
    top: 27%;
    left: 68%;
    
}
.image img{
    border-radius: 80px;

}
.logo::first-letter{
    font-size: 40px;
    border: 2px solid black;
    border-right:transparent;
    color: brown;
    

}
.downbtn{
    background-color: white;
    padding: 10px 20px;
    color: brown;
    border-radius: 10px;
    font-weight: 700; 
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.navheader2{
    width: 100vw;
    height: 102vh;
    background-color: rgb(29, 146, 148);
}
.navheader2 img{
    position: absolute;
    left: 20%;
    top: 120%;
    border-radius: 50px;
}
.aboutbtn{
    position: absolute;
    top: 120%;
    left: 45%;
    
    }
    
.aboutbtn h1{
    color: orange;
    font-size: 70px;
}
.navheader2 h3{
    position: absolute;
    color: white;
    font-size: 15px;
    font-weight: bold;
    left: 45%;
    top: 132%;
    
}
.ptwo{
    position: absolute;
    top: 136%;
    left: 45%;
    line-height: 26px;
    font-weight: 200px;
    width: 290px;
    
    
}
.downbtn2{
    position: absolute;
    background-color: rgba(247, 236, 27, 0.933);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 700; 
    top: 160%;
    left: 45%;
}

    